Package: drive
Version: 0.3.6-1
Architecture: amd64
Maintainer: John Jenkins <twodopeshaggy@gmail.com>
Installed-Size: 14623
Section: net
Priority: extra
Homepage: https://github.com/odeke-em/drive
Description: Google Drive tool written in Go language
 Command line tool for managing data on Google drive.
